<web-app>

    <display-name>${parent.version}-${buildNumber}|${app.name}-${app.version}-${app.systemtype}</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>LinkedInServlet</servlet-name>
        <servlet-class>com.mavrov.linkedin.authorization.AuthorizeLinkedinServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LinkedInServlet</servlet-name>
        <url-pattern>/linkedin-authorize</url-pattern>
    </servlet-mapping>

</web-app>



